{include file="html_footer.html"}
<script type="text/javascript">
$(function(){
	var $dMenu = $('.d-menu');
	$('.r-menu a:first').on('click', function(event){  // down menu slideDown and slideUp handler
		event.preventDefault();
		event.stopPropagation();

		if($('.d-menu:visible').length > 0){
			$dMenu.slideUp();
		}else{
			$dMenu.slideDown();
		}
	});
	$('body').on('click', function(event){
		$('.d-menu').slideUp();
	});
	
	$('.ui-icon-closethick').click(function(){
		$(this).parents('.tooltip').hide();
	});
});
</script>
