{include file="html_header.html"}
<div class="header">
	<div class="wrap">
		<a class="btn reback" href="/">返回首页</a>
		<h1><img src="/static/img/ims-logo.png" alt="">港口传染病地图</h1>
		
		{include file="block/user.html"}
	</div>
</div>

{if $successMsg = System::GetNotice()}
<div class="tooltip suctip">
	<span class="tc">{$successMsg}</span>
	<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
</div>
{/if}


{if $errorMsg = System::GetError()}
<div class="tooltip errtip">
	<span class="tc">{$errorMsg}</span>
	<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
</div>
{/if}