{include file="html_header.html"}
<div class="header">
	<div class="wrap">
		<a class="btn reback" href="/">返回首页</a>
		<h1><img src="/static/img/ims-logo.png" alt="">港口传染病地图</h1>
		<div class="r-menu">
			<a href="#" ><span class="username">admin</span><span class="role">(系统管理员)▼</span></a>
			<a href="#">退出</a>
		</div>
		<div class="d-menu">
			<ul>
				<li><a href="#">修改密码</a></li>
				<li><a href="#">退出</a></li>
			</ul>
		</div>
	</div>
</div>

{if $successMsg = System::GetNotice()}
<div class="tooltip suctip">
	<span class="tc">{$successMsg}</span>
	<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
</div>
{/if}


{if $errorMsg = System::GetError()}
<div class="tooltip errtip">
	<span class="tc">{$errorMsg}</span>
	<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
</div>
{/if}