<!-- 用户登录弹窗 -->
<div class="mask"></div>
<div class="dialog login-wrap">
	<div class="dialog-h">
		<h1><img src="/static/img/ims-logo.png" alt="">港口传染病地图</h1>
		<div class="icon icon-close"></div>
	</div>
	<div class="dialog-b login-form">
		<form action="#">
			<div class="line">
				<input type="text" id="userName" name="userName" placeholder="邮箱" class="loginInput loginuser">
			</div>
			<div class="line">
				<input type="text" id="userPwd" name="userPwd" placeholder="密码" class="loginInput loginpwd">
			</div>
			<div class="line">
				<label for="loginAuto"><input type="checkbox" name="autologin" class="inputCheckbox" id="loginAuto">下次自动登录</label>
			</div>
			<div class="line btn-c">
				<input type="submit" value="登录" class="btn btn-login">
			</div>
		</form>
	</div>
</div>




<script type="text/javascript" src="/static/lib/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery_ui/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>