{include file="block/search_header.html"}
<div class="wrap tags">
	<div class="tagsItem imItem">
		<div class="tit">
			<span class="h2">传染病</span><a href="/infection/list.php">［管理］</a>
			<a href="/infection/update.php" class="btn cbtn">新增传染病</a>
		</div>
		<div class="cont">
			{foreach $allInfections as $char => $infections}
			<div class="t">{$char}</div>
			<ul class="tagsList">
				{foreach $infections as $infection}
				<li><a href="/infection/detail.php?id={$infection['id']}">{$infection['cname']}</a></li>
				{/foreach}
			</ul>
			{/foreach}
		</div>
	</div>

	<div class="tagsItem cityItem">
		<div class="tit">
			<span class="h2">地点</span><a href="/location/list.php">［管理］</a>
			<a href="/location/update.php" class="btn cbtn">新增地点</a>
		</div>
		<div class="cont">
			{foreach $allLocations as $contient}
				{foreach $contient['sub'] as $country}
					{if $country['sub']}
						<div class="t">{$country['cname']}</div>
						<ul class="tagsList">
						{foreach $country['sub'] as $city}
						<li><a href="/location/detail.php?id={$city['id']}">{$city['cname']}</a></li>
						{/foreach}
						</ul>
					{/if}
				{/foreach}
			{/foreach}
		</div>
	</div>
</div>

{include file="block/search_footer.html"}