{include file="header.html"}
<div class="wrap">
	<div class="form-wrap">
		<h2>{if $id}更新{else}增加新{/if}记录</h2>
		<form action="/infection/case_update.php" method="post">
		{if $id}
			<input type="hidden" name="id" value="{$id}"/>
		{/if}
			<div class="row">
				<div class="afield rNafield">
					<label for="iName" class="t"><span class="n">传染病名称</span> <a href="/infection/update.php" target="_blank" class="tip">添加</a></label>
					
					<div class="main">
						<select name="infection_id" id="infection_id">
							<option value="0">请选择传染病</option>
							{foreach $allInfections as $infections}
							{foreach $infections as $infection}
								<option value="{$infection['id']}" {if $infectionID == $infection['id']} selected {/if}>{$infection['cname']} </option>
							{/foreach}
							{/foreach}
						</select>
					</div>
				</div>
				
				<div class="afield">
					<label for="ibeginTime" class="t">发病起始于</label>
					<div class="main">
						<input type="text" class="ainput dateInput" name="start_date" id="start_date" value="{$startDate}" > <i class="icon icon-date"></i>
					</div>
				</div>

				<div class="afield lastAfield">
					<label for="iendTime" class="t">发病结束于</label>
					<div class="main">
						<input type="text" class="ainput dateInput" name="end_date" id="iendTime" value="{$endDate}"> <i class="icon icon-date"></i>
					</div>
				</div>


			</div>

			<div class="row">
							<div class="afield rNafield">
					<label for="iName" class="t"><span class="n">城市</span> <a href="/location/update.php" target="_blank" class="tip">添加</a></label>
					
					<div class="main">
						<select name="location_id" id="location_id">
							<option value="0">请选择地点</option>
							{foreach $allLocations as $continent}
								{foreach $continent['sub'] as $country}
									{foreach $country['sub'] as $city}
										<option value="{$city['id']}" {if $city['id'] == $locationID} selected {/if}>{$city['cname']}</option>
									{/foreach}
								{/foreach}
							{/foreach}
						</select>
					</div>
				</div>
				
				<div class="afield">
					<label for="incidencePeople" class="t">发病人数</label>
					<div class="main">
						<input type="text" class="ainput" name="case_number" value="{$infectionCase['case_number']}">
					</div>
				</div>
				<div class="afield">
					<label for="incidenceRate" class="t">发病率</label>
					<div class="main">
						<input type="text" class="ainput" name="case_rate" value="{$infectionCase['case_rate']}"> /10万
					</div>
				</div>
				

			</div>

			<div class="row">
				<div class="afield rNafield">
					<label for="beillPeople" class="t">患病人数</label>
					<div class="main">
						<input type="text" class="ainput" name="ill_number" value="{$infectionCase['ill_number']}"/>
					</div>
				</div>
				<div class="afield">
					<label for="beillRate" class="t">患病率</label>
					<div class="main">
						<input type="text" class="ainput"name="ill_rate" value="{$infectionCase['ill_rate']}" /> /10万
					</div>
				</div>

			</div>

			<div class="line">
				<div class="afield">
					<label for="iNote" class="t">备注</label>
					<div class="main">
						<textarea name="comment" id="iNote" cols="30" rows="5">{$infectionCase['comment']}</textarea>
					</div>
				</div>
			</div>

			<div class="btn-c">
				<input type="submit" value="完成" class="btn sBtn">
				<input type="reset" value="取消" class="btn cBtn" id="cancel_button">
			</div>
		</form>
	</div>
</div>
{include file="footer.html"}
<script type="text/javascript" src="/static/js/jquery.ui.datepicker-zh-CN.js"></script>
<script>
$(function(){
	$('.dateInput').datepicker();// 日历插件
	
	$('#cancel_button').bind('click',function(){
		redirect('/');
	});
});

</script>
