{include file="header.html"}
<link rel="stylesheet" href="/static/css/infectious.css">
<div class="wrap">
	<div class="content">
		<div class="l-content">
			<div id="mapContainer" style="position:relative;width:100%; height:450px;"></div><!-- 地图容器 -->
			<div class="quickT">
			{if $loginUser}
				<form action="/infection/case_update.php" method="get" target="_blank">
					<input type="hidden" name="infection_id" value="{$infection['id']}" />
				
					<select name="continent_id" id="continent_id" onchange="changeContinent();">
						<option value="0">选择大洲</option>
					{foreach $allLocations as $contient}
						<option value="{$contient['id']}">{$contient['cname']}</option>
					{/foreach}
					</select>
					
					<select id="country_id" name="country_id" class="form-control" onchange="changeCountry();">
						<option value="0">选择国家</option>
					</select>
					
					<select id="city_id" name="location_id" class="form-control">
						<option value="0">选择城市</option>
					</select>

					<input type="submit"  value="新增发病记录"  class="btn" />
				</form>
			{/if}
			</div>
			
			<div class="itable">
				<table>
					<thead>
						<tr>
							<td width="15%">国家地区</td>
							<td width="15%">开始</td>
							<td width="15%">结束</td>
							<td width="10%">发病人数</td>
							<td width="10%">发病率</td>
							<td width="10%">患病人数</td>
							<td width="10%">患病率</td>
							<td width="25%">备注</td>
						</tr>
					</thead>
					<tbody>
					{if $infectionCases}
					{foreach $infectionCases as $case}
						<tr>
							<td>{$case['location']}</td>
							<td>{$case['start_date']}</td>
							<td>{$case['end_date']}</td>
							<td>{$case['case_number']}</td>
							<td>{$case['case_rate']}</td>
							<td>{$case['ill_number']}</td>
							<td>{$case['ill_rate']}</td>
							<td>{$case['comment']}</td>
						</tr>				
					{/foreach}
					{else}
						<tr><td colspan="8">暂时没有数据</td></tr>
					{/if}

					</tbody>
				</table>
			</div>

		</div>
		<div class="r-content">
			<h3>{$infection['cname']}</h3>
			<div class="b base">
				<div class="t">
					基本信息
					{if $loginUser}
					 <a class="edit" target="_blank" href="/infection/update.php?id={$infection['id']}#infection_form">编辑</a>
					 {/if}
				</div>
				<div class="c">
					<p>
						<label>疾病名称：</label><span class="va">{$infection['cname']}</span>
					</p>
					<p>
						<label>疾病英文：</label><span class="va">{$infection['ename']}</span>
					</p>
					<br>
					<p>
						<label>病原体名称：</label><span class="va">{$infection['pathogen_cname']}</span>
					</p>
					<p>
						<label>病原体英文：</label><span class="va">{$infection['pathogen_ename']}</span>
					</p>
					<p>
						<label>分类学地位：</label><span class="va">{$infection['taxonomy']}</span>
					</p>
					<br>
					<p>
						<label>传染源：</label><span class="va">{$infection['infection_source']}</span>
					</p>
					<p>
						<label>传染途径：</label><span class="va">{$infection['infection_path']}</span>
					</p>
					<p>
						<label>易感人群：</label><span class="va">{$infection['suseptible_pop']}</span>
					</p>
				</div>
			</div>
			<div class="b">
				<div class="t">
					诊断标准 
					{if $loginUser}
					<a target="_blank" href="/infection/update.php?id={$infection['id']}#standard" class="edit">编辑</a>
					{/if}
				</div>
				<div class="c">
				{$infection['judge_standard']}
				</div>
			</div>

			<div class="b">
				<div class="t">
					预防措施 
					{if $loginUser}
					<a target="_blank" href="/infection/update.php?id={$infection['id']}#prevention" class="edit">编辑</a>
					{/if}
				</div>
				<div class="c">
				{$infection['prevention']}
				</div>
			</div>

			<div class="b">
				<div class="t">
					治疗措施 
					{if $loginUser}
					<a target="_blank" href="/infection/update.php?id={$infection['id']}#treatment" class="edit">编辑</a>
					{/if}
				</div>
				<div class="c">
					{$infection['treatment']}
				</div>
			</div>
		</div>
	</div>
</div>

{include file="footer.html"}

{if $mapConfig['use_bing_map']}
<script type="text/javascript" src="{$mapConfig['bing']['host']}"></script>
<script src="/static/js/bing/infection_detail.js" type="text/javascript"></script> 
{else}
<script src="{$mapConfig['amap']['host']}" type="text/javascript"></script>
<script src="/static/js/amap/infection_detail.js" type="text/javascript"></script>
{/if}

<script type="text/javascript">
var caseLocations = {json_encode($caseLoctions)};
var cases = {json_encode($infectionCases)};
var allLocations = {json_encode($allLocations)};

$(function(){
	mapInit();
});
	


function changeContinent(){
	continent_id = $("#continent_id").val();
	continent = allLocations[continent_id];
	if(continent){
		buildLocationOption('country_id',continent['sub']);
	}
}

function changeCountry(){
	continent_id = $("#continent_id").val();
	country_id = $("#country_id").val();
	country = allLocations[continent_id]['sub'][country_id];
	if(country){
		buildLocationOption('city_id',country['sub']);
	}
}

function buildLocationOption(locationID,locations,selectID){
	var html = '';
	html = " <option value='0'></option>";
	for(var i in locations){
		cur_id = locations[i]['id'];
		cur_name = locations[i]['cname'];
		if(selectID == cur_id){
			select_html = "selected";
		} else {
			select_html = "";
		}
		cur_html = "<option value='"+cur_id+"'  "+select_html+">"+cur_name+"</option>";
		html = html + cur_html;
	}
	$("#"+locationID).html(html);
}

</script>