{include file="header.html"}
<link rel="stylesheet" href="/static/css/infectious.css">
<div class="wrap">
	<div class="content">
		<div class="l-content">
			<div id="mapContainer"></div><!-- 地图容器 -->
			<div class="quickT">
				<form action="/infection/case_update.php" method="get" target="_blank">
					<input type="hidden" name="infection_id" value="{$infection['id']}" />
				
					<select name="continent_id" id="continent_id" onchange="changeContinent();">
						<option value="0">选择大洲</option>
					{foreach $allLocations as $contient}
						<option value="{$contient['id']}">{$contient['cname']}</option>
					{/foreach}
					</select>
					
					<select id="country_id" name="country_id" class="form-control" onchange="changeCountry();">
						<option value="0">选择国家</option>
					</select>
					
					<select id="city_id" name="location_id" class="form-control">
						<option value="0">选择城市</option>
					</select>

					<input type="submit"  value="新增发病记录"  class="btn" />
				</form>
			</div>
			
			<div class="itable">
				<table>
					<thead>
						<tr>
							<td width="15%">国家地区</td>
							<td width="15%">发病日期</td>
							<td width="15%">发病人数</td>
							<td width="15%">发病率</td>
							<td width="15%">患病人数</td>
							<td width="15%">患病率</td>
							<td width="25%">备注</td>
						</tr>
					</thead>
					<tbody>
					{foreach $infectionCases as $case}
						<tr>
							<td>{$case['location']}</td>
							<td>{$case['start_date']}</td>
							<td>{$case['case_number']}</td>
							<td>{$case['case_rate']}</td>
							<td>{$case['ill_number']}</td>
							<td>{$case['ill_rate']}</td>
							<td>{$case['comment']}</td>
						</tr>				
					{/foreach}

					</tbody>
				</table>
			</div>

		</div>
		<div class="r-content">
			<h3>东方马脑炎</h3>
			<div class="b base">
				<div class="t">
					基本信息 <a class="edit" target="_blank" href="/infection/update.php?id={$infection['id']}#infection_form">编辑</a>
				</div>
				<div class="c">
					<p>
						<label>疾病名称：</label><span class="va">{$infection['cname']}</span>
					</p>
					<p>
						<label>疾病英文：</label><span class="va">{$infection['ename']}</span>
					</p>
					<br>
					<p>
						<label>病原体名称：</label><span class="va">{$infection['pathogen_cname']}</span>
					</p>
					<p>
						<label>病原体英文：</label><span class="va">{$infection['pathogen_ename']}</span>
					</p>
					<p>
						<label>分类学地位：</label><span class="va">{$infection['taxonomy']}</span>
					</p>
					<br>
					<p>
						<label>传染源：</label><span class="va">{$infection['infection_source']}</span>
					</p>
					<p>
						<label>传染途径：</label><span class="va">{$infection['infection_path']}</span>
					</p>
					<p>
						<label>易感人群：</label><span class="va">{$infection['suseptible_pop']}</span>
					</p>
				</div>
			</div>
			<div class="b">
				<div class="t">
					诊断标准 <a target="_blank" href="/infection/update.php?id={$infection['id']}#standard" class="edit">编辑</a>
				</div>
				<div class="c">
				{$infection['judge_standard']}
				</div>
			</div>

			<div class="b">
				<div class="t">
					预防措施 <a target="_blank" href="/infection/update.php?id={$infection['id']}#prevention" class="edit">编辑</a>
				</div>
				<div class="c">
				{$infection['prevention']}
				</div>
			</div>

			<div class="b">
				<div class="t">
					治疗措施 <a target="_blank" href="/infection/update.php?id={$infection['id']}#treatment" class="edit">编辑</a>
				</div>
				<div class="c">
					{$infection['treatment']}
				</div>
			</div>
		</div>
	</div>
</div>

{include file="footer.html"}
<script src="http://webapi.amap.com/maps?v=1.3&key=dbb6bc63f724a1f9099ecd0a6acf3871" type="text/javascript"></script>
<script type="text/javascript">
var caseLocations = {json_encode($caseLoctions)};
var cases = {json_encode($infectionCases)};
var mapObj;
var markers = [];
var allLocations = {json_encode($allLocations)};

$(function(){
	mapInit();
	// map click handler
});
	
//start map
function mapInit(){
    mapObj = new AMap.Map("mapContainer",{
    	zoom:2//地图显示的缩放级别
    });
    markMapInArea(allLocations);
}


function markMapInArea(locations){
	var curLocation;
	var curLocationID;
	
	if(!locations){
		return false;
	}

	var locationIDs = [];
	locationIDs = Util_Array.GetColunm(locations,'id','sub');
	
	for(var i in cases){
		curLocationID = cases[i]['location_id'];
		if(in_array(curLocationID,locationIDs)){
			curLocation = caseLocations[curLocationID];
			if(curLocation){
				mapAddTag(curLocation['lng'],curLocation['lat']);
			}
		}
	}
	showTag();
	mapObj.setCenter(new AMap.LngLat(curLocation['lng'], curLocation['lat']));
}

//向地图添加标点
function mapAddTag(lng,lat){
	var marker = new AMap.Marker({
		position:new AMap.LngLat(lng,lat) ,//基点位置
		icon:"/static/img/icon_maker.png" //marker图标，直接传递地址url
	});
	markers.push(marker);
}

//显示标点
function showTag(){
	mapObj.plugin(["AMap.MarkerClusterer"],function(){
		cluster = new AMap.MarkerClusterer(mapObj,markers);
	});
}


//清除标点
function clearTag(){
    if(cluster) {
        cluster.setMap(null);
    }
	markers= [];
}





/////////////////////end map

function changeContinent(){
	continent_id = $("#continent_id").val();
	continent = allLocations[continent_id];
	if(continent){
		buildLocationOption('country_id',continent['sub']);
	}
}

function changeCountry(){
	continent_id = $("#continent_id").val();
	country_id = $("#country_id").val();
	country = allLocations[continent_id]['sub'][country_id];
	if(country){
		buildLocationOption('city_id',country['sub']);
	}
}

function buildLocationOption(locationID,locations,selectID){
	var html = '';
	html = " <option value='0'></option>";
	for(var i in locations){
		cur_id = locations[i]['id'];
		cur_name = locations[i]['cname'];
		if(selectID == cur_id){
			select_html = "selected";
		} else {
			select_html = "";
		}
		cur_html = "<option value='"+cur_id+"'  "+select_html+">"+cur_name+"</option>";
		html = html + cur_html;
	}
	$("#"+locationID).html(html);
}


function showLocationChange(lng,lat){
	//mapObj.setZoomAndCenter(4,new AMap.LngLat(lng,lat));
}
</script>