{include file="header.html"}
<div class="wrap">
	<div class="form-wrap">
		<h2>{if $id} 修改{else}新增{/if}传染病</h2>
		<form action="/infection/update.php" id="infection_form" method="post">
			{if $id}
				<input type="hidden" name="id" value="{$id}"/>
			{/if}
			
			<div class="row">
				<div class="afield">
					<label for="iName" class="t">传染病名称</label>
					<div class="main">
						<input type="text" class="ainput" name="cname" value="{$infection['cname']}" id="cname">
					</div>
				</div>
				
				<div class="afield">
					<label for="iEnName" class="t">传染病英文名称</label>
					<div class="main">
						<input type="text" class="ainput" name="ename" value="{$infection['ename']}" id="iEnName">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="afield">
					<label for="pathogenName" class="t">病原体名称</label>
					<div class="main">
						<input type="text" class="ainput" name="pathogen_cname" value="{$infection['pathogen_cname']}" id="pathogenName">
					</div>
				</div>
				
				<div class="afield">
					<label for="pathogenEnName" class="t">病原体英文</label>
					<div class="main">
						<input type="text" class="ainput" name="pathogen_ename" value="{$infection['pathogen_ename']}" id="pathogenEnName">
					</div>
				</div>

				<div class="afield lastAfield">
					<label for="Taxonomy" class="t">分类学地位</label>
					<div class="main">
						<input type="text" class="ainput" name="taxonomy" value="{$infection['taxonomy']}" id="Taxonomy">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="afield">
					<label for="sources" class="t">传染源</label>
					<div class="main">
						<input type="text" class="ainput" name="infection_source" value="{$infection['infection_source']}" id="sources">
					</div>
				</div>
				<div class="afield">
					<label for="Susceptible" class="t">易感人群</label>
					<div class="main">
						<input type="text" class="ainput" name="susceptible_pop" value="{$infection['susceptible_pop']}" id="Susceptible">
					</div>
				</div>

				<div class="afield lastAfield">
					<label for="transmission" class="t">传播途径</label>
					<div class="main">
						<input type="text" class="ainput" name="infection_path" value="{$infection['infection_path']}" id="transmission">
					</div>
				</div>
			</div>

			<div class="line">
				<div class="afield">
					<label for="stander" class="t">诊断标准</label>
					<div class="main">
						<textarea name="judge_standard" id="standard" cols="30" rows="5">{$infection['judge_standard']}</textarea>
					</div>
				</div>
			</div>
			
						<div class="line">
				<div class="afield">
					<label for="stander" class="t">预防措施</label>
					<div class="main">
						<textarea name="prevention" id="prevention" cols="30" rows="5">{$infection['prevention']}</textarea>
					</div>
				</div>
			</div>
			
						<div class="line">
				<div class="afield">
					<label for="stander" class="t">治疗措施</label>
					<div class="main">
						<textarea name="treatment" id="treatment" cols="30" rows="5">{$infection['treatment']}</textarea>
					</div>
				</div>
			</div>


			<div class="btn-c">
				<input type="submit" value="完成" class="btn sBtn">
			</div>
		</form>
	</div>
</div>
{include file="footer.html"}