{include file="header.html"}
<link rel="stylesheet" href="/static/css/infectious.css">

  <div class="wrap">
    <div class="content">
      <div class="l-content">

        <div class="tab-wrap">
          <ul class="tab-tit">
            <li class="cur">全部</li>
            {foreach $infections as $infection}
            <li value="{$infection['id']}">{$infection['cname']}</li>
            {/foreach}
            {if $loginUser}
            <li class="btn-r">
              <a href="/infection/case_update.php?location_id={$id}" target="_blank" class="btn">新增传染病发病记录</a>
            </li>
            {/if}
          </ul>

          <div class="tab-c on">
            <div class="itable">
              <table>
                <thead>
                  <tr>
                    <td width="15%">国家地区</td>
                    <td width="15%">开始</td>
                    <td width="15%">结束</td>
                    <td width="10%">发病人数</td>
                    <td width="10%">发病率</td>
                    <td width="10%">患病人数</td>
                    <td width="10%">患病率</td>
                    <td width="20%">备注</td>
                  </tr>
                </thead>
                <tbody>
                {if $infectionCases}
	                {foreach $infectionCases as $infectionCase}
					<tr class="infection_case infection_{$infectionCase['infection_id']}">
	                    <td>
	                    	{$infectionCase['location']}
							{if $loginUser}
								<a href="case_update.php?id={$infectionCase['id']}" target="_blank">修改</a>
							{/if}
	                    </td>
	                    <td>{$infectionCase['start_date']}</td>
	                    <td>{$infectionCase['end_date']}</td>
	                    <td>{$infectionCase['case_number']}</td>
	                    <td>{$infectionCase['case_rate']}</td>
	                    <td>{$infectionCase['ill_number']}</td>
	                    <td>{$infectionCase['ill_rate']}</td>
	                    <td><div class="inbox text_small">{$infectionCase['comment']}</div></td>
	                  </tr>
	                {/foreach}
                {else}
                	<tr><td colspan="8">暂时没有数据</td></tr>
                {/if}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="r-content">
        <h3>{$location['cname']}介绍</h3>
        <div class="b base">
          <div class="t">
          	  城市简介 
          	 {if $loginUser}
          	  <a class="edit" href="/location/update.php?id={$location['id']}#info" target="_blank">编辑</a>
          	 {/if}
          </div>
          <div class="c">
          {$location['info']}
          </div>
        </div>

        <div class="b">
          <div class="t">
                            其他备注 
          {if $loginUser}                  
          <a class="edit" href="/location/update.php?id={$location['id']}#comment" target="_blank">编辑</a>
          {/if}
          </div>
          <div class="c">
          {$location['comment']}
          </div>
        </div>

        <div class="b map">
          <div class="t"></div>
          <div class="c">
            <div id="mapContainer" style="position:relative;width:240px; height:450px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


{include file="footer.html"}
{if $mapConfig['use_bing_map']}
<script type="text/javascript" src="{$mapConfig['bing']['host']}"></script>
<script src="/static/js/bing/location_detail.js" type="text/javascript"></script>
{else}
<script src="http://webapi.amap.com/maps?v=1.3&key=dbb6bc63f724a1f9099ecd0a6acf3871" type="text/javascript"></script>
<script src="/static/js/amap/location_detail.js" type="text/javascript"></script>
{/if}

<script type="text/javascript">
var centerLocation = {json_encode($location)};

$(function(){
	mapInit();

    $('.tab-tit li').click(function(event){
      if($(this).hasClass('btn-r')){

      }else{
        event.stopPropagation();
        event.preventDefault();
        var tabIndex = $(this).index();
        $('.tab-tit li').removeClass('cur').eq(tabIndex).addClass('cur');

        var infectionID = $(this).val();
        if(infectionID){
        	$(".infection_case").hide();
        	$(".infection_" + infectionID).show();
        } else {
        	$(".infection_case").show();
        }
      }
    })
});
</script>