{include file="header.html"}
<link rel="stylesheet" type="text/css" href="/static/css/place.css">
  <div class="wrap">
    <div class="content">
      <div class="placetip">
        <a href="place.html" class="btn">添加地点</a>
      </div>

      <div class="line">
        <span class="tit">洲际</span>
        <ul class="pTagList tagList tab-tit">
        {foreach $allLocations as $contient}
        	<li><a href="?contient_id={$contient['id']}">{$contient['cname']}</a></li>
        {/foreach}
        </ul>
      </div>

      <div class="line">
        <span class="tit">国家</span>
        {if $contientID}
        <ul class="cTagList tagList">
        	{foreach $allLocations[$contientID]['sub'] as $country}
        	<li><a href="#">{$country['cname']}</a></li>
        	{/foreach}
        </ul>
        {/if}
      </div>

      <!-- 地图 感觉添加个地图更直观 和林羽商量下吧 -->
      <div class="line">
        <div id="mapContainer"></div>
      </div>

      <div class="line">
        <div class="itable">
          <table>
            <thead>
              <tr>
                <td>地点名称</td>
                <td>洲际</td>
                <td>国家</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
            	{foreach $cities as $city}
              <tr>
                <td><a href="/location/detail.php?id={$city['id']}" >{$city['cname']}</a></td>
                <td>{$allLocations[$contientID]['cname']}</td>
                <td>{$allLocations[$contientID]['sub'][$city['parent_id']]['cname']}</td>
                <td>
                  <a href="/location/update.php?id={$city['id']}"  target="_blank" class="icon icon_edit"></a>
                  <a href="javascript:void(0);" class="icon icon_delete"></a>
                </td>
              </tr>            	
            	{/foreach}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{include file="footer.html"}
<script src="http://webapi.amap.com/maps?v=1.3&key=dbb6bc63f724a1f9099ecd0a6acf3871" type="text/javascript"></script>

<script type="text/javascript">
  $(function(){
    // map click handler
    var mapObj;
    var markers = [];
    //初始化地图对象，加载地图
    function mapInit(){
      mapObj = new AMap.Map("mapContainer");

      for(var i=0; i<10; i++){  //伪造数据
        var marker = new AMap.Marker({
          map:mapObj,
          icon:"img/icon_maker.png",
          offset:new AMap.Pixel(-9,-32),
          position:new AMap.LngLat(116-i*0.08, 40)   // 构造坐标集合
        });
        markers[i] = marker;
      }


      mapObj.plugin(["AMap.MarkerClusterer"],function() {
          cluster = new AMap.MarkerClusterer(mapObj,markers);
      });

      mapObj.setCenter(new AMap.LngLat(115.6, 40));

    }

    mapInit();

  });
</script>
