{include file="header.html"}
<link rel="stylesheet" type="text/css" href="/static/css/place.css">
  <div class="wrap">
    <div class="content">
      <div class="placetip">
        <a href="place.html" class="btn">添加地点</a>
      </div>

      <div class="line">
        <span class="tit">洲际</span>
        <ul class="pTagList tagList tab-tit">
        {foreach $allLocations as $contient}
        	<li><a href="?contient_id={$contient['id']}" {if $contient['id'] == $contientID}class="select" {/if}>{$contient['cname']}</a></li>
        {/foreach}
        </ul>
      </div>

      <div class="line">
        <span class="tit">国家</span>
        {if $contientID}
        <ul class="cTagList tagList">
        	{foreach $allLocations[$contientID]['sub'] as $country}
        	<li>
        	<a href="?contient_id={$country['parent_id']}&country_id={$country['id']}" {if $country['id'] == $countryID}class="select" {/if}>{$country['cname']}</a>
        	</li>
        	{/foreach}
        </ul>
        {/if}
      </div>

      <!-- 地图 感觉添加个地图更直观 和林羽商量下吧 -->
      <div class="line">
        <div id="mapContainer"></div>
      </div>

      <div class="line">
        <div class="itable">
          <table>
            <thead>
              <tr>
                <td>地点名称</td>
                <td>洲际</td>
                <td>国家</td>
                <td>操作</td>
              </tr>
            </thead>
            <tbody>
            	{foreach $cities as $city}
              <tr id="location_{$city['id']}">
                <td><a href="/location/detail.php?id={$city['id']}" >{$city['cname']}</a></td>
                <td>{$allLocations[$contientID]['cname']}</td>
                <td>{$allLocations[$contientID]['sub'][$city['parent_id']]['cname']}</td>
                <td>
                  <a href="/location/update.php?id={$city['id']}"  target="_blank" class="icon icon_edit"></a>
                  <a href="javascript:void(0);" class="icon icon_delete" onclick="delLocation({$city['id']})"></a>
                </td>
              </tr>            	
            	{/foreach}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{include file="footer.html"}
<script src="http://webapi.amap.com/maps?v=1.3&key=dbb6bc63f724a1f9099ecd0a6acf3871" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/amap/location_list.js"></script>

<script type="text/javascript">
{if $location}
var center = {json_encode($location)};
{/if}

{if $cities}
var cities = {json_encode($cities)};
{/if}

var delLocationUrl = "/api.php?action=location&method=del";

function delLocation(locationID){
	var conRes = confirm('你确定要删除此地点吗, 这样会丢失数据!!!');
	if(!conRes){
		return false;
	}
	var url = delLocationUrl + "&location_id=" + locationID;
	$.getJSON(url,function(json){
		if(json['code'] != 22000){
			alert(json['message']);
			return false;
		}
		
		$("#location_"+locationID).fadeOut();
		hideMark(locationID);
	});
}
</script>