{include file="header.html"}
<link rel="stylesheet" type="text/css" href="/static/css/place.css">

<div class="wrap addPlace">
	<div class="form-wrap">
		<h2>创建地点</h2>
		<form action="/location/update.php" method="post">
		{if $id}
			<input type="hidden" name="id" value="{$id}"/>
		{/if}
		<div class="row">
			<div class="afield">
				<label for="placeName" class="t">地点名称</label>
				<div class="main">
					<input type="text" class="ainput" name="cname" id="cname" value="{$location['cname']}" onblur="citySearch();"/>
				</div>
			</div>
			<div class="afield">
				<label for="intercontinental" class="t">洲际</label>
				<div class="main">
					<select name="intercontinental" id="continent_id" name="continent_id" onchange="changeContinent();">
						<option value="0"></option>
						{foreach $allLocations as $curLocation}
						<option value="{$curLocation['id']}" {if $curLocation['id'] == $continentID} selected {/if}>{$curLocation['cname']}</option>
						{/foreach}
					</select>
				</div>
			</div>

			<div class="afield lastAfield">
				<label for="country" class="t">国家</label>
				<div class="main">
					<select name="country_id" id="country_id" onchange="changeCountry();">
					
					</select>
				</div>
			</div>
		</div>

		<div class="line">
			<div class="afield">
				<label class="t">请在地图上标记</label>
				<div class="main">
					<div id="mapContainer">
						
					</div>
				</div>
			</div>
		</div>

		<div class="line">
			<div class="afield">
				<label for="introduction" class="t">地点介绍</label>
				<div class="main">
					<textarea name="info" id="introduction" cols="30" rows="5">{$location['info']}</textarea>
					<input type="hidden" name="lng" id="lngX" value="{$location['lng']}">
					<input type="hidden" name="lat" id="latY" value="{$location['lat']}">
				</div>
			</div>
		</div>

		<div class="btn-c">
			<input type="submit" value="完成" class="btn sBtn">
			<a href="/"><input type="button" value="取消" class="btn cBtn"/></a>
		</div>
		</form>
	</div>
</div>
{include file="footer.html"}
<script src="http://webapi.amap.com/maps?v=1.3&key=dbb6bc63f724a1f9099ecd0a6acf3871" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/html_tools.js"></script>
<script type="text/javascript">
var mapObj;
var marker;
var locationSearch;
var allLocations = {json_encode($allLocations)};

$(function(){
	{if $continentID}
	buildCityOption(allLocations[{$continentID}]['sub'],{$countryID});
	{/if}
	
	mapInit();
	
});

/////////////map
function mapInit(){
    mapObj = new AMap.Map("mapContainer",{
        view: new AMap.View2D({
            center:new AMap.LngLat({$location['lng']},{$location['lat']}),//地图中心点
            zoom:4 //地图显示的缩放级别
        })	
    });
    marker = new AMap.Marker({                 
      map:mapObj,                 
      icon:"/static/img/icon_maker.png",                 
      offset:new AMap.Pixel(-9,-32)               
    });
    AMap.event.addListener(mapObj,'click',getLnglat); 
    
    mapObj.plugin(["AMap.DistrictSearch"], function() {
        var opts = {
            subdistrict: 0,   
            extensions: 'base',
            level:'city'
        };
   
        locationSearch = new AMap.DistrictSearch(opts); //查询成功时的回调函数，定义如何展示请求返回结果
        AMap.event.addListener(locationSearch, 'complete', function(e){
        	var city = e['districtList'][0];
        	var lat = city['center']['lat'];
        	var lng = city['center']['lng'];
        	var pos = new AMap.LngLat(lng,lat);
        	mapObj.setZoom(7);
        	mapObj.setCenter(pos);
        	marker.setPosition(pos);
        });
        
    });
}

function getLnglat(e){ 
    document.getElementById("lngX").value=e.lnglat.getLng(); 
    document.getElementById("latY").value=e.lnglat.getLat(); 

    var lnglat = e.lnglat;
    marker.setPosition(lnglat);
   	mapObj.setCenter(lnglat);  
}


function citySearch(){
	var cityName = $('#cname').val();
	if(cityName){
		locationSearch.search(cityName);
	}
}
///////////////map end

function changeContinent(){
	continent_id = $("#continent_id").val();
	continent = allLocations[continent_id];
	dump(continent_id);
	if(continent){
		lat = continent['lat'];
		lng = continent['lng'];
		showLocationChange(lng,lat);
		buildCityOption(continent['sub']);
	}
}

function changeCountry(){
	continent_id = $("#continent_id").val();
	country_id = $("#country_id").val();
	country = allLocations[continent_id]['sub'][country_id];
	if(country){
		lat = country['lat'];
		lng = country['lng'];
		showLocationChange(lng,lat);
	}
}

function buildCityOption(citys,select_id){
	var html = '';
	html = " <option value='0'></option>";
	for(var i in citys){
		cur_id = citys[i]['id'];
		cur_name = citys[i]['cname'];
		if(select_id == cur_id){
			select_html = "selected";
		} else {
			select_html = "";
		}
		cur_html = "<option value='"+cur_id+"'  "+select_html+">"+cur_name+"</option>";
		html = html + cur_html;
	}
	$('#country_id').html(html);
}


function showLocationChange(lng,lat){
	mapObj.setZoomAndCenter(4,new AMap.LngLat(lng,lat));
}

</script>