{include file="header.html"}
<div class="main_content">
<h3>{if $id}修改{else}新增{/if} 地点</h3>

	<div class="">
		<form action="/location/update.php" method="post">
		<table class="input_table" >
			{if $id}
				<input type="hidden" name="id" value="{$id}"/>
			{/if}
			<tr>
				<td>
					<span>地点名称</span>
					<input type="text" class="form-control" name="cname" value="{$location['cname']}"/>
				</td>

				<td>
					<span>洲际</span>
					<select class="form-control" name="continent_id" id="continent_id" onchange="changeContinent();">
						<option value="0"></option>
						{foreach $allLocations as $curLocation}
						<option value="{$curLocation['id']}" {if $curLocation['id'] == $continentID} selected {/if}>{$curLocation['cname']}</option>
						{/foreach}
					</select>
				</td>

				<td>
					<span>国家</span>
					<select class="form-control" name="country_id" id="country_id" onchange="changeCountry();">

					</select>
				</td>
			</tr>

			<tr>
				<td colspan=3>
					<div id="map_container"></div>
				</td>
			</tr>

			<tr>
				<td>
 					经度 <input type="text" name="lng" id="lngX" readonly value="{$location['lng']}"/>
				</td>

				<td>
					维度 <input type="text" name="lat" id="latY" readonly value="{$location['lat']}" />
				</td>
			</tr>

			<tr>

				<td colspan=3>
					<span>地点介绍</span>
					<textarea rowspan=3 name="info" class="form-control">{$location['info']} </textarea>
				</td>
			</tr>

			<tr>

				<td colspan=3>
					<span>其他备注</span>
					<textarea rowspan=3 name="comment" class="form-control">{$location['comment']} </textarea>
				</td>
			</tr>

		</table>
		
		

		<input type="submit" value="提交" class="btn"/>
		{if $id}
		<a class="btn btn-success" href="/location/update.php"> 创建新地点</a>
		{/if}
		</form>

	</div>	
</div>

{include file="footer.html"}

<script src="http://webapi.amap.com/maps?v=1.3&key=52eb0ee17d59916ec379c4a7f0cdefed" type="text/javascript"></script>

<script type="text/javascript">
var mapObj;
mapInit();

var allLocations = {json_encode($allLocations)};
{if $continentID}
buildCityOption(allLocations[{$continentID}]['sub'],{$countryID});
{/if}


//初始化地图对象，加载地图
function mapInit(){
     mapObj = new AMap.Map("map_container",{
        //二维地图显示视口
        view: new AMap.View2D({
            center:new AMap.LngLat({$location['lng']},{$location['lat']}),//地图中心点
            zoom:4 //地图显示的缩放级别
        })
    }); 
     
    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener=AMap.event.addListener(mapObj,'click',function(e){
        document.getElementById("lngX").value=e.lnglat.getLng();
        document.getElementById("latY").value=e.lnglat.getLat(); 
    });
}

function changeContinent(){
	continent_id = $("#continent_id").val();
	continent = allLocations[continent_id];
	if(continent){
		lat = continent['lat'];
		lng = continent['lng'];
		showLocationChange(lng,lat);
		buildCityOption(continent['sub']);
	}
}

function changeCountry(){
	continent_id = $("#continent_id").val();
	country_id = $("#country_id").val();
	country = allLocations[continent_id]['sub'][country_id];
	if(country){
		lat = country['lat'];
		lng = country['lng'];
		showLocationChange(lng,lat);
	}
}

function buildCityOption(citys,select_id){
	var html = '';
	html = " <option value='0'></option>";
	for(var i in citys){
		cur_id = citys[i]['id'];
		cur_name = citys[i]['cname'];
		if(select_id == cur_id){
			select_html = "selected";
		} else {
			select_html = "";
		}
		cur_html = "<option value='"+cur_id+"'  "+select_html+">"+cur_name+"</option>";
		html = html + cur_html;
	}
	$('#country_id').html(html);
}


function showLocationChange(lng,lat){
	mapObj.setZoomAndCenter(4,new AMap.LngLat(lng,lat));
}

</script>
