{include file="block/search_header.html"}

<div class="searchResult">
{if $keyword}
	{if $locationResult}
		<h3 class="hotip">为您找到 <span class="kw">[{$keyword}]</span> 相关的 {if $type==3}港口{else}地区{/if}：
		{foreach $locationResult as $location}
		<a href="/location/detail.php?id={$location['id']}" target="_blank" class="tag">{$location['cname']}</a>
		{/foreach}
		</h3>
	{else if $infectionResult}
		<h3 class="hotip">为您找到 <span class="kw">[{$keyword}]</span> 相关的疾病：
		{foreach $infectionResult as $infection}
		<a href="/infection/detail.php?id={$infection['id']}" target="_blank" class="tag">{$infection['cname']}</a>
		{/foreach}
		</h3>	
	{else if $type==2}
		<h3 class="hotip">没有找到<span class="kw">[{$keyword}]</span> 相关的地区：
			<a href="/location/update.php?cname={$keyword}" class="tag">
				创建该地点
			</a>
		</h3>
	{else if $type==3}
		<h3 class="hotip">没有找到<span class="kw">[{$keyword}]</span> 相关的港口：
			<a href="/location/update.php?cname={$keyword}&is_port=1" class="tag">
				创建该港口
			</a>
		</h3>	
	{else}
		<h3 class="hotip">没有找到<span class="kw">[{$keyword}]</span> 相关的疾病：<a href="/infection/update.php?cname={$keyword}" class="tag">创建该疾病</a></h3>
	{/if}
{/if}
</div>

	
{include file="block/search_footer.html"}